body{
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #fff;
}
.wrap{
    margin: auto;
}
.switch{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 80px;
}
.switch input{
    visibility: hidden;
}
.slider{
    position: absolute;
    cursor: pointer;
    align-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffb83d;
    box-shadow: -5px -5px 8px rgba(255, 255, 255, 0.2)
                5px 5px 8px rgba(0,0, 0, 0.2);
    border-radius: 50px;
}
.slider:before{
    position: absolute;
    content: "";
    height: 65px;
    width: 65px;
    background: #fff;
    left: 4px;
    bottom: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 50px;
}
input:checked + .slider{
    background: #ff2442;
}
input:checked + .slider::before{
    transform: translateX(177px);
}
.slider .round{
    border-radius: 50px;
}
.slider .round:before{
    border-radius: 50px;
}
.light-on{
    width: 100vh;
    height: 100vh;
}